<!DOCTYPE html>
<html>
<head>

    <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin = "anonymous"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity = "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity = "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <scropt src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></scropt>
    <link rel = "stylesheet" type = "text/css" href = "login_form.css">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity = "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">


</head>
<body>



<div id = "main">

    <form action = "name_of_file.php" id = "myForm"><br />
        <!--Create a container -->


        <center><input type = "image" src = "https://pbs.twimg.com/profile_images/649233120269631488/-c7t1Wjw_400x400.jpg" alt = "Submit" width = "60" height = "60"></center>
        <br />

        <div class = "wrap-input100 validate-input m-b-10" data-validate = "Username is required">
            <center><input class = "input100" name = "username" type = "text" placeholder = "Username" /></center>
        </div>

        <br />
        <br />

        <div class = "wrap-input100 validate-input m-b-10" data-validate = "Password is required">
            <center><input class = "input100" name = "pass" type = "password" placeholder = "Password" /></center>
        </div>


        <br />
        <br />


        <div class = "container"><span class = "password">




            <div class = "container-login100-form-btn">
               <center> <input type = "submit" class = "btn light-orange btn-rounded" value = "Login">

                </center>
            </div>



             <div class="forgot">
                <a href="reset.html">Forgot password?<a>
            </div>



        </span>
            <!--The main use of anchor tags - <a></a> - is as hyperlinks.
            That basically means that they take you somewhere.
            Hyperlinks require the href property, because it specifies a location. -->
        </div>

    </form>

</div>

</body>
</html>