{% extends 'base.html.twig' %}

{% block title %}Locations index{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

    <br/>

    {% for loc in locations %}
        {{ loc.location }}
        <a href="{{ path('location_delete', {'id': loc.id}) }}">Delete</a>
        <br/>
    {% endfor %}

    {{ dump(locations) }}

{% endblock %}

{% block javascripts %}{% endblock %}