{% extends 'base.html.twig' %}

{% block title %}Locations index{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

    <br/>

    {% for tg in tags %}
        {{ tg.tag }}
        {#<a href="{{ path('location_delete', {'id': tg.id}) }}">Delete</a>#}

        {% for lc in tg.locations %}
            {{ lc.location }}
        {% endfor %}

        <br/>
    {% endfor %}

    {{ dump(tags) }}

{% endblock %}

{% block javascripts %}{% endblock %}