{% extends '@Administration/base.html.twig' %}

{% block title %}Location edit{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

   {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit">Add</button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}{% endblock %}