<div id="slide_content">
    Slide Content ...
</div>


<script>
    function setSlideContent(slide){
        document.getElementById('slide_content').innerHTML = slide['content'];

        return new Promise((resolve, reject) => {
            setTimeout(() => {
                resolve('Success');
            }, slide['periodOfValidity']);
        });
    }

    async function loop(){
        while(true) {
            let response = await fetch('{{ path('fetch', {'location' : location}) }}');
            let slides = await response.json();

            for(let i = 0; i < slides.length; i++){
                await setSlideContent(slides[i]);
            }
        }
    }

    loop();
</script>