<div id="slide_content">
    Slide ....
</div>


<script>
    const getJSON = function(url, callback) {
        let xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function() {
            let status = xhr.status;
            if (status === 200 && xhr.response.length) {
                console.log("RESPONSE");
                callback(xhr.response);
            } else {
                //callback(status, xhr.response);
            }
        };
        xhr.send();
    };

    const callback = function(data) {
        if (data.length) {
            let slide = data[0];
            let millisec = slide['periodOfValidity'];
            console.log(slide.id);

            document.getElementById('slide_content').innerText = slide['content'];

            setTimeout(() => {
                data.shift();
                callback(data);
            }, millisec);
        } else {
            loop();
        }
    };

    const loop = function(){
        let params = '{{ path('fetch', {'location' : location}) }}';
        getJSON(params, callback);
    };

    loop();
</script>