{% extends '@Administration/base.html.twig' %}

{% block title %}Location edit{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit">Submit</button>
    {{ form_end(form) }}

    <a href="{{ path('users') }}">Back</a>

{% endblock %}

{% block javascripts %}{% endblock %}