{% extends '@Administration/base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit">Add</button>
    {{ form_end(form) }}

    <a href="{{ path('users') }}">Back</a>

{% endblock %}